<h1>Manage Groups</h1>
<p class="lead">Click a group to view its etherpads and add or remove it from your groups.</p>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Your Groups</h4>
  </div>
  <ul class="list-group">
    <% if current_user %>
      <% @user = current_user %>
      <% @user.groups.each do |group| %>
        <li class="list-group-item">
          <%= link_to group do %>
            <%= group.name %>
          <% end %>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-9">
        <h4 class="panel-title">All Groups</h4>
      </div>
      <div class="col-md-3 text-right">
        <%= link_to new_group_path, class: "btn btn-primary btn-xs" do %>
          <div style="color:white"><i class="fa fa-plus"></i> Add group</div>
        <% end %>
      </div>
    </div>
  </div>
  <ul class="list-group">
    <% @groups.each do |group| %>
      <li class="list-group-item">
        <%= link_to group do %>
          <%= group.name %>
          <% if current_user.groups.include? group %>
            <i class="fa fa-check-circle"></i>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>