<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>

<p>
	<strong>Etherpads:</strong>
	<% @group.etherpads.each do |etherpad| %>
		<p><%= etherpad.name %></p>
	<% end %>
</p>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>

<%= link_to "Apply", apply_group_path(@group), remote: true, method: :get, class: "btn btn-large btn-primary" %>
<%= link_to "Remove", remove_group_path(@group), remote: true, method: :get, class: "btn btn-large btn-primary" %>


<button class="btn btn-primary Add">Add</button>

<script>
  $('.Add').click(function(){
    var $this = $(this);
    var apply = "<%= apply_group_path(@group) %>"
    var remove = "<%= remove_group_path(@group) %>"
    $this.toggleClass('Add');
    if($this.hasClass('Add')){
      $this.text('Add');
      $.ajax({type: "GET", url: remove});
    } else {
      $this.text('Remove');
      $.ajax({type: "GET", url: apply});
    }
  });
</script>