<div class="row">
  <div class="col-md-10">
    <h2>
      <%= @group.name %>
      <div class="
        btn 
        btn-xs
        <%= @determine ? 'Remove' : 'Add' %> 
        <%= @determine ? 'btn-danger' : 'btn-success' %>
      ">
        <%= @determine ? 'Remove from Dashboard'.html_safe : 'Add to Dashboard'.html_safe %>
      </div>
    </h2>
  </div>
  <div class="col-md-2 text-right">
      <%= link_to groups_path, class: "btn btn-default" do %>
        <i class="fa fa-arrow-left"></i> Courses
      <% end %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-8">
        <h3 class="panel-title">StudyPads</h3>
      </div>
      <div class="col-md-4 text-right">
        <%= link_to new_etherpad_path, class: "btn btn-primary btn-xs" do %>
          <div style="color:white"><i class="fa fa-pencil-square-o"></i> New StudyPad</div>
        <% end %>
      </div>
    </div>
  </div>

  <ul class="list-group">
    <% @group.etherpads.each do |etherpad| %>
      <li class="list-group-item">
          <%= link_to etherpad do %>
            <%= etherpad.name %>
          <% end %>
      </li>
    <% end %>
  </ul>
  <% if @group.etherpads.empty? %>
    <div class="panel-body">
      There are no StudyPads to display for this course.
    </div>
<% end %>
</div>

<script>
  $('.Add').click(function(){
    var $this = $(this);
    var apply = "<%= apply_group_path(@group) %>";
    var remove = "<%= remove_group_path(@group) %>";
    var addtext = 'Add to Dashboard';
    var removetext = 'Remove from Dashboard';
    $this.toggleClass('Add');
    if($this.hasClass('Add')){
      $this.text(addtext);
      $this.removeClass('btn-danger');
      $this.addClass('btn-success');
      $.ajax({type: "GET", url: remove});
    } else {
      $this.text(removetext);
      $this.removeClass('btn-success');
      $this.addClass('btn-danger');
      $.ajax({type: "GET", url: apply});
    }
  });

    $('.Remove').click(function(){
    var $this = $(this);
    var apply = "<%= remove_group_path(@group) %>"
    var remove = "<%= apply_group_path(@group) %>"
    var addtext = 'Add to Dashboard';
    var removetext = 'Remove from Dashboard';
    $this.toggleClass('Add');
    if($this.hasClass('Add')){
      $this.text(addtext);
      $.ajax({type: "GET", url: apply});
      $this.removeClass('btn-danger');
      $this.addClass('btn-success');
    } else {
      $this.text(removetext);
      $this.removeClass('btn-success');
      $this.addClass('btn-danger');
      $.ajax({type: "GET", url: remove});
    }
  });
</script>