<p id="notice"><%= notice %></p>

<h1>
  <%= @group.name %>
</h1>

<div class=" btn btn-primary <%= @determine ? 'Remove' : 'Add' %>"><%= @determine ? 'Remove this group' : 'Add this group' %></div>

<p>
	<strong>Etherpads:</strong>
	<% @group.etherpads.each do |etherpad| %>
		<p>
      <%= link_to etherpad do %>
        <%= etherpad.name %>
      <% end %>
    </p>
	<% end %>
</p>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>


<script>
  $('.Add').click(function(){
    var $this = $(this);
    var apply = "<%= apply_group_path(@group) %>"
    var remove = "<%= remove_group_path(@group) %>"
    $this.toggleClass('Add');
    if($this.hasClass('Add')){
      $this.text('Add this group');
      $.ajax({type: "GET", url: remove});
    } else {
      $this.text('Remove this group');
      $.ajax({type: "GET", url: apply});
    }
  });

    $('.Remove').click(function(){
    var $this = $(this);
    var apply = "<%= apply_group_path(@group) %>"
    var remove = "<%= remove_group_path(@group) %>"
    $this.toggleClass('Add');
    if($this.hasClass('Add')){
      $this.text('Add this group');
      $.ajax({type: "GET", url: apply});
    } else {
      $this.text('Remove this group');
      $.ajax({type: "GET", url: remove});
    }
  });
</script>