<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>

<p>
	<strong>Etherpads:</strong>
	<% @group.etherpads.each do |etherpad| %>
		<%= etherpad.name %>
	<% end %>
</p>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>

<%= link_to "Apply", apply_group_path(@group), remote: true, method: :put, class: "btn btn-large btn-primary" %>