<% if user_signed_in? %>
	<div class="page-header2">
		<h1>Dashboard</h1>
	</div>
	<% if current_user.groups.empty? %>
		<%= link_to subjects_path do %>
			<p class="lead">It looks like you haven't added any courses yet. Click here to go to the Courses page, where you can add your courses.</p>
		<% end %>
	<% end %>
	<% current_user.groups.each do |group| %>
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="row">
					<div class="col-md-8">
						<h3 class="panel-title"><%= group.number + ' ' + group.name %></h3>
					</div>
					<div class="col-md-4 text-right">
						<%= link_to group, class: "btn btn-primary btn-xs" do %>
		          <div style="color:white"><%= group.name %> <i class="fa fa-arrow-right"></i></div>
		        <% end %>
					</div>
				</div>
			</div>
			<ul class="list-group">
				<% group.etherpads.each do |etherpad| %>
			      <li class="list-group-item">
				      <%= link_to etherpad do %>
				        <%= etherpad.name %>
				      <% end %>
				    </li>
				<% end %>
			</ul>
			<% if group.etherpads.empty? %>
				<div class="panel-body">
					There are no StudyPads to display for this course.
				</div>
			<% end %>
		</div>
	<% end %>
<% end %>