<div class="row">
  <div class="col-md-8">
    <h2>
      <%= @subject.abbr %>
    </h2>
    <p class="lead">Click on a course to view its StudyPads and add or remove it from your dashboard.</p>
  </div>
  <div class="col-md-4 text-right">
      <%= link_to subjects_path, class: "btn btn-default" do %>
        <i class="fa fa-arrow-left"></i> Subjects
      <% end %>
  </div>
</div>

<div class="text-center">
  <%= will_paginate @groups, renderer: BootstrapPagination::Rails %>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-8">
        <h3 class="panel-title">Courses in <%= @subject.abbr %></h3>
      </div>
    </div>
  </div>

  <ul class="list-group">
    <% @groups.each do |group| %>
      <li class="list-group-item">
          <%= link_to group do %>
            <%= group.number + ' - ' + group.name %>
          <% end %>
      </li>
    <% end %>
  </ul>
  <% if @subject.groups.empty? %>
    <div class="panel-body">
      There are no courses for this subject.
    </div>
<% end %>
</div>