<%= form_for(@etherpad) do |f| %>
  <% if @etherpad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@etherpad.errors.count, "error") %> prohibited this Study Pad from being saved:</h2>

      <ul>
      <% @etherpad.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6">
      <div class="form">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="form-group">
              <%= f.label 'Course' %><br>
              <%= f.collection_select :group_id, @groups, :id, :name, {:include_blank => "Select a course"}, {class: 'form-control'} %>  
            </div>
            <p>Not seeing a course? You must add courses to your dashboard before creating StudyPads for them. <%= link_to 'Click here to browse courses.', subjects_path %></p>

            <div class="form-group">
              <%= f.label :name %><br>
              <%= f.text_field :name, class: 'form-control', placeholder: 'ex: Midterm 1' %>
            </div>
          </div>
          <div class="panel-footer">
            <%= f.submit 'Create StudyPad', class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
