<h1>Listing etherpads</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @etherpads.each do |etherpad| %>
      <tr>
        <td><%= etherpad.name %></td>
        <td><%= link_to 'Show', etherpad %></td>
        <td><%= link_to 'Edit', edit_etherpad_path(etherpad) %></td>
        <td><%= link_to 'Destroy', etherpad, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Etherpad', new_etherpad_path %></br>

<% @app_groups.each do |app_group| %>
  <%= app_group.name %>
<% end %>

<!-- <script type="text/javascript">
$('#examplePadBasic').pad({'padId':'kirby'}); // sets the pad id and puts the pad in the div
$('#examplePadBasic').pad({'getContents':'exampleGetContents'});
</script>

<div id="examplePadBasic"></div> -->

<!-- <iframe src='http://epl-spencerbrown.rhcloud.com/p/testpad1' width=600 height=400></iframe> -->

<div id="examplePadBasic"></div>
<script type="text/javascript">
// The most basic example
$('#examplePadBasic').pad({'padId':'testpad1'}); // sets the pad id and puts the pad in the div
</script>

