<h1>Etherpads</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @etherpads.each do |etherpad| %>
      <tr>
        <td><%= etherpad.name %></td>
        <td><%= link_to 'View', etherpad %></td>
        <% if current_user.name == "Spencer Brown" %>
          <td><%= link_to 'Edit', edit_etherpad_path(etherpad) %></td>
          <td><%= link_to 'Destroy', etherpad, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Etherpad', new_etherpad_path %></br>