<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @etherpad.name %><br>
</p>
<p>
	<strong>Group:</strong>
	<%= @etherpad.group.name %>
</p>

<%= link_to 'Edit', edit_etherpad_path(@etherpad) %> |
<%= link_to 'Back', etherpads_path %>

<div id="examplePadBasic"></div>
<script type="text/javascript">
	var padname = "<%= @etherpad.name %>";
	$('#examplePadBasic').pad({'padId': padname}); // sets the pad id and puts the pad in the div
</script>