<div class="container">
	<div class="row">
		<div class="col-md-9">
			<h2>
				<%= @etherpad.name %> Study Pad
			  <small><%= @etherpad.group.name %></small>
			</h2>
		</div>
		<div class="col-md-3 text-right">
				<%= link_to @group, class: "btn btn-default" do %>
					<i class="fa fa-arrow-left"></i> <%= @etherpad.group.name %>
				<% end %>
		</div>
	</div>

	<div class="row">
		<div id="examplePadBasic"></div>
	</div>
</div>








<%= link_to 'Edit', edit_etherpad_path(@etherpad), class: "btn btn-default" %>

<script type="text/javascript">
	var padname = "<%= @etherpad.name %>";
	var currentusername = "<%= current_user.name if current_user %>"
	$('#examplePadBasic').pad({'padId': padname, 'userName': currentusername}); // sets the pad id and puts the pad in the div
</script>