<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Study Pool", root_path, class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li>
            <%= link_to '/' do %>
              <i class="fa fa-rocket"></i> Dashboard
            <% end %>
          </li>

          <li>
            <%= link_to new_etherpad_path do %>
              <i class="fa fa-pencil-square-o"></i> New Etherpad
            <% end %>
          </li>

          <li>
            <%= link_to groups_path do %>
              <i class="fa fa-group"></i> Manage Groups
            <% end %>
          </li>

          <li>
            <%= link_to edit_user_registration_path do %>
              <i class="fa fa-user"></i> Account
            <% end %>
          </li>
          
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="fa fa-sign-out"></i> Sign Out
            <% end %>
          </li>
        <% else %>
          <li>
            <%= link_to new_user_session_path do %>
              <i class="fa fa-sign-in"></i> Sign In
            <% end %>
          </li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- container -->
</nav>