<!DOCTYPE html>
<html>
<head>
  <title>Study Hub</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<%= render 'layouts/header' unless current_page?(root_path) %>

	<div id="wrap">
		<div id="main" class="container clear-top">
			<% flash.each do |name, msg| %>
				<%= content_tag(:div, msg, class: "alert alert-info") unless current_page?(root_path) %>
			<% end %>
			<%= yield %>
		</div>
	</div>

	<%= render 'layouts/footer' unless current_page?(root_path) %>
</body>
</html>
